    .nav-bar {
        background: #181818;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        top: 0;
        z-index: 3;
        margin-top: 0;
        justify-content: space-between; // Add this line to push the logo and nav to the top and bottom
        align-items: center; // Add this line to center the items horizontally
        justify-content: center;

        // Ensure no unexpected top margin
        @media screen and (max-width: 800px) {}

        .burger-menu {
            cursor: pointer;
            padding: 0px;
            padding-bottom: 10px;
            flex: 1;
            display: block;


            //   position: relative;

            //   &::before {
            //     content: '';
            //     position: absolute;
            //     width: 65px;  // Adjust the size of the circle as needed
            //     height: 65px;  // Adjust the size of the circle as needed
            //     border: 2px solid #E65100;  // Color of the circle
            //     border-radius: 50%;
            //     top: 11.5%;  // Center vertically
            //     left: 50%;  // Center horizontally
            //     transform: translate(-50%, -50%);  // Center the circle
            //     opacity: 0.5;  // Adjust the opacity as needed
            //     z-index: 3;  // Behind the burger menu
            // }

            &:hover .bar {
                background-color: #E65100;
            }


            .bar {
                width: 50px;
                height: 6px;
                background-color: #4d4d4e;
                margin: 8px 0;
                transition: 0.4s;

                @media screen and (max-width: 800px) {
                    width: 25px;
                    height: 3px;
                    margin: 4px 0;
                }
            }
        }

        &.menu-open {
            
            .top-nav,
            .middle-nav,
            .bot-nav,
            .contact-nav {
                // svg {
                //     transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
                //     transform: translateY(-20px); // Initial position off-screen
                //     opacity: 0;
                //     animation: fadeInAndExpand 0.5s ease-in-out forwards; // Apply the keyframes
                // }
                
                
            }

            @keyframes fadeInAndExpand {
                from {
                    opacity: 0;
                    transform: translateY(-20px) scale(0.8); // Initial position and scale
                }
                to {
                    opacity: 1;
                    transform: translateY(0) scale(1); // Final position and scale
                }
            }

            .bar {
                background-color: #E65100;
            }

            nav {
                display: flex;
            }

            ul {
                display: none;
            }
        }

        &.menu-closed {
            nav {
                visibility: hidden;
                display: none;
            }
        }

        .logo {
            flex-basis: 10%;
            padding: 8px 0;
            // position: fixed;
            // top: 0;
            flex: 1;

            @media screen and (max-width: 800px) {
                padding: 2px 0;
            }

            img {
                display: block;
                margin: 8px auto;
                width: 70px;
                height: auto;

                @media screen and (max-width: 800px) {
                    width: 40px;
                }

                @media screen and (max-width: 550px) {
                    width: 38px;
                }

                @media screen and (max-width: 450px) {
                    width: 30px;
                }

                &.sub-logo {
                    width: 80px;

                    @media screen and (max-width: 800px) {
                        width: 50px;
                    }

                    @media screen and (max-width: 550px) {
                        width: 48px;
                    }

                    @media screen and (max-width: 450px) {
                        width: 40px;
                    }
                }
            }
        }

        nav {
            display: flex;
            flex-flow: column nowrap;
            flex-basis: 80%;
            text-align: center;
            width: 100%;
            overflow: hidden;
            justify-content: center;

            
            @supports (-webkit-touch-callout: none) {
                margin-bottom: 100px;            
            }

            @media screen and (max-height: 600px),
            (max-width: 800px) {
                // margin-top: 150px;
            }

            .top-nav,
            .middle-nav,
            .bot-nav,
            .contact-nav {

                &:not(:last-child)::after {
                    content: '';
                    display: block;
                    width: 80%;
                    height: 1px;
                    background-color: #4d4d4e;
                    /* Adjust the color as needed */
                    // margin-top: 5px; /* Adjust the margin as needed */
                    position: relative;
                    left: 50%;
                    /* Position from the center */
                    transform: translateX(-50%);

                    /* Center the line */
                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        display: none;
                    }
                }

                svg {
                    height: 2rem !important;
                    width: auto;
                }

            }

            .top-nav {
                &::before {
                    content: '';
                    display: block;
                    margin-bottom: 10px;
                    width: 80%;
                    height: 1px;
                    background-color: #4d4d4e;
                    /* Adjust the color as needed */
                    // margin-top: 5px; /* Adjust the margin as needed */
                    position: relative;
                    left: 50%;
                    /* Position from the center */
                    transform: translateX(-50%);

                    /* Center the line */
                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        display: none;
                    }
                }

                margin-bottom: 18px;
                margin-top: 15px;

                svg {
                    height: 30px !important;
                    width: auto;
                }

                @media screen and (max-height: 600px),
                (max-width: 800px) {
                    svg {
                        height: 1.3rem !important;
                        width: auto;
                    }

                    margin: 0px;
                }

            }

            .middle-nav {
                margin-bottom: 0px;

                svg {
                    height: 3.2rem !important;
                    width: auto;
                }

                @media screen and (max-height: 600px),
                (max-width: 800px) {
                    svg {
                        height: 1.6rem !important;
                        width: auto;
                    }

                    margin: 0px;
                }
            }

            .bot-nav {
                margin-top: 15px;

                svg {
                    height: 2.5rem !important;
                    width: auto;
                }

                @media screen and (max-height: 600px),
                (max-width: 800px) {
                    svg {
                        height: 1.3rem !important;
                        width: auto;
                    }

                    margin: 0px;
                }
            }

            .contact-nav {
                margin-top: 0px;

                svg {
                    height: 35px !important;
                    width: auto;
                }

                @media screen and (max-height: 782px) {
                    // margin-top: 15px;
                }

                @media screen and (max-height: 600px),
                (max-width: 800px) {
                    svg {
                        height: 1.3rem !important;
                        width: auto;
                    }

                    margin: 0px;
                }
            }

            .top-nav,
            .middle-nav,
            .bot-nav,
            .contact-nav {



                a {
                    height: 66px;

                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        height: 57px;
                    }
                }
            }

            .top-nav {
                a {
                    line-height: 66px;

                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        line-height: 50px;
                    }
                }
            }

            .middle-nav {
                a {
                    line-height: 83px;

                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        line-height: 65px;
                    }
                }
            }

            .bot-nav {
                a {
                    line-height: 75px;

                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        line-height: 58px;

                        &:last-of-type {
                            line-height: 62px;
                        }
                    }
                }
            }

            .contact-nav {
                a {
                    line-height: 72px;

                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        line-height: 57px;
                    }
                }
            }

            .top-nav,
            .middle-nav,
            .bot-nav,
            .contact-nav {



                a {
                    font-size: 22px;
                    color: #4d4d4e;
                    display: block;
                    position: relative;
                    text-decoration: none;

                    svg {
                        .path1 {
                            fill: #4d4d4e;
                        }

                        .path2 {
                            fill: #4d4d4e;
                        }
                    }

                    @media screen and (max-height: 600px),
                    (max-width: 800px) {
                        font-size: 10px;
                    }


                    // &:nth-child(1) & &:nth-child(2) {
                    // }

                    // &:nth-child(3) {
                    //     svg {
                    //         height: 4rem !important;
                    //         width: auto;
                    //         // margin-top: 18px;
                    //     }
                    // }

                    // &:nth-child(4), &:nth-child(5) {
                    // }

                    // &:nth-child(4) {
                    //     svg {
                    //         height: 3.8rem !important;
                    //         width: auto;
                    //         // margin-top: 13px;
                    //     }
                    // }

                    // &:nth-child(5) {
                    //     svg {
                    //         height: 3.5rem !important;
                    //         width: auto;
                    //         // margin-top: 15px;
                    //     }
                    // }

                    i {
                        transition: all 0.3s ease-out;
                    }

                    &:hover {
                        color: #ffd700;

                        svg {
                            opacity: 0;
                        }

                        &:after {
                            opacity: 1;
                        }
                    }

                    &:after {
                        font-size: 10px;
                        letter-spacing: 2px;
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        text-align: center;
                        opacity: 0;
                        transition: all 0.3s ease-out;

                        @media screen and (max-height: 600px),
                        (max-width: 800px) {
                            letter-spacing: 0px;
                            font-size: 6px;

                        }
                    }

                    &:first-child {
                        &::after {
                            content: 'HOME';
                            font-weight: 500;

                            @media screen and (max-height: 600px),
                            (max-width: 800px) {
                                line-height: 75px;
                            }
                        }
                    }
                }

                a.about-link {
                    &:after {
                        content: 'ABOUT';
                        font-weight: 500;

                        @media screen and (max-height: 600px),
                        (max-width: 800px) {
                            line-height: 75px;
                        }
                    }
                }

                a.services-link {
                    &:after {
                        content: 'SERVICES';
                        // margin-left: 0.5px;
                        font-weight: 500;

                        @media screen and (max-height: 600px),
                        (max-width: 800px) {
                            line-height: 66px;
                        }
                    }
                }

                a.education-link {
                    &:after {
                        content: 'EDUCATION';
                        // margin-left: 1px;
                        font-weight: 500;
                    }
                }

                a.work-link {
                    &:after {
                        content: 'WORK';
                        font-weight: 500;
                    }
                }

                a.contact-link {
                    &:after {
                        content: 'CONTACT';
                        // margin-left: 1px;
                        font-weight: 500;
                    }
                }

                a.active {
                    svg {
                        color: #ffd700;
                        fill: #ffd700;

                        .path1 {
                            fill: #E65100;
                        }

                        .path2 {
                            fill: #FFA000;
                        }
                    }
                }
            }
        }

        ul {
            width: 100%;
            flex-basis: 10%;
            padding: 0;
            list-style: none;
            text-align: center;
            // margin: 0;
            margin-bottom: 20px;
            @supports (-webkit-touch-callout: none) {
                margin-bottom: 100px;
            }

            // margin-top: auto;  // Add this line to make the ul stick to the bottom
            @media screen and (max-height: 600px),
            (max-width: 800px) {
                // margin-bottom: 25px;
            }

            li {
                a {
                    padding: 7px 0;
                    display: block;
                    font-size: 15px;
                    line-height: 16px;

                    svg {
                        height: 25px;

                        @media screen and (max-width: 800px) {
                            height: 20px;
                        }
                    }

                    &:hover svg {
                        color: #ffd700;
                    }
                }
            }
        }
    }